/CMakeCache.txt
/build/
**.o
**.dylib
CMakeFiles/
Makefile
Makefile.in
ac-aux/
aclocal.m4
cmake_install.cmake
config.h
config.h.in
config.log
config.status
configure
exposed/.deps/
exposed/Makefile
exposed/Makefile.in
libss.a
libtool
out/
src/.deps/
src/CMakeFiles/
src/Makefile
src/Makefile.in
src/bitmapextra.table.h
src/bitmapfont.table.h
src/cmake_install.cmake
src/config.h
src/fltk/.deps/
src/fltk/.dirstamp
src/icons-proto.h
src/icons.h
src/srf/.deps/
src/srf/.dirstamp
src/win32/.deps/
stamp-h1
